/* general html and lists */

html {
    font-size: 1em;
    line-height: 1.4;
}

.list {
    width: 25%;
    float: left;
    border: 1px solid grey;
    padding: 7px;
    margin: 7px;
    background-color: #2A9FBC;
}

.list h3 {
    padding-left: 7px;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
}

/* card, title and card description of a card */

.card {
    cursor: pointer;
    background-color: #404040;
    padding: 7px;
    margin: 7px 0px;
    color: white;
}

.card h4 {
    margin: 0px;
}

.description {
    color: lightgray;
    word-wrap: break-word; /* fix description may be wider than list */
}

/* input and button */

.flex {
    display: flex;
}

.flex input {
    flex-grow: 2;
    min-width: 0; /* fix input field may be wider than list */
}

.flex button {
    flex-basis: auto;
}

/* edit card */

.card button,
.card input,
.card textarea {
    color: rgb(0, 0, 0);
    margin: 2px 0px;
}

.card textarea {
    width: 100%;
    resize: vertical;
}

/* error message */

.error {
    color: rgb(255,0,0);
}

.logout {
    float: right;
}